<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="AIzaSyAMCTUX9sLX5wMaLo8dXBRrUR59OIAYKQ8"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
</configuration>